.rodape {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color1);
   padding: 2rem;
   height: var(--rodapeHeight);
}

.rodape__wrapper {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
