.container {
    padding-bottom: 1em;
    margin-top: .5em;
    width: 282px;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.container h2, .favoritar {
    padding-inline: 1em;
}

.container h2 {
    text-align: center;
    margin-block: .5em;
}

.favoritar {
    align-self: flex-end;
    font-size: 25px;
}

.capa {
    height: 425px;
    object-fit: cover;
    background-color: black;
    border: 15px solid black;
}