@import url('https://renansantos7.github.io/styles/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --bg: white;
    --bg-card: #e2e2e2;
    --color1: black;
}

body {
    font-family: 'Montserrat', "Montserrat", sans-serif;
    background-color: var(--bg);
}